<input [formControl]="control" [type]="type"
class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
[placeholder]="placeholder" [mask]="format" [dropSpecialCharacters]="false"/>
<ng-container *ngIf="control.touched && control.dirty">
      <p *ngIf="control.touched && control.dirty && control.hasError('required')" class="text-red-400">
        field is required
      </p>
      <p *ngIf="control.touched && control.dirty && control.hasError('minlength')" class="text-red-400">
        the value you inputted is
        {{control.getError('minlength').actualLength}}
        characters long.
        It is must be at least
        {{control.getError('minlength').requiredLength}}
        character long.
      </p>
      <p *ngIf="control.hasError('email')" class="text-red-400">
        you must enter a valid email
      </p>
      <p *ngIf="control.hasError('min')" class="text-red-400">
        value too low.
      </p>
      <p *ngIf="control.hasError('max')" class="text-red-400">
        value too high.
      </p>
      <p *ngIf="control.hasError('pattern')">
        Password must be at least 8 characters long,have 1 uppercase letter, 1 lowercase letter and 1 number.
      </p>
</ng-container>
